<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Innovent Technologies</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
      body {
        font-family: "Poppins", sans-serif;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        width: 50%;
        max-width: 100%;
      }
      .head-1 {
        font-weight: 800;
        margin: 0 !important;
        padding: 0 !important;
      }
      table {
        border: 2px solid black;
      }
      .text-center {
        text-align: center;
      }
      .text-right {
        text-align: right !important;
      }
      .row-1 {
        border-bottom: none;
      }
      .row-2-text {
        font-size: 15px;
        border-bottom: 1px solid black !important;
        border-left: 1px solid black !important;
        border: none;
      }
      .row-2-name {
        font-size: 17px;
        border-bottom: 1px solid black !important;
        border-right: 1px solid black !important;
        border: none;
      }
      span {
        font-size: 20px;
        font-weight: 700;
      }
      .row-3-add {
        font-size: 15px !important;
      }
      .row-3 {
        text-align: center;
        font-size: 20px !important;
      }
      .row-6 {
        font-size: 15px;
        font-weight: 600;
      }
      .row-7,
      .row-9,
      .row-5 {
        font-size: 15px;
      }
      .row-8 {
        font-size: 15px;
        font-weight: 600;
      }
      .row-3-blank {
        border: 1px solid black !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <table style="width: 100%" border="2px" color="black" cellspacing="0">
        <tr>
          <th scope="col" colspan="2">
            <h2 class="head-1 text-center">
              {{!-- INNOVENT <br />TECHNOLOGIES<br />
              PVT --}}
              {{clientName}}
            </h2>
          </th>
          <th scope="col" colspan="2" class="head-1">
            <!-- <h2 class="head-2"><b>DELHIVERY</b></h2> -->
            <img
              src={{delhiveryLogo}}
              width="300px"
              height="80px"
              alt=""
            />
          </th>
        </tr>
        <tr>
          <td colspan="4" class="row-1 text-center">
            <img src={{wayBillNumberBarcode}} 
            {{!-- height="100px" width="190px" alt=""  --}}
            />
          </td>
        </tr>
        <tr>
          <td colspan="2" class="row-2-text">{{pincode}}</td>
          <td colspan="2" class="row-2-name text-right"><b>{{sortCode}}</b></td>
        </tr>
        <tr class="row-4" scope="row">
          <td colspan="3" class="row-3-add">
            <b>Shipping Address:</b><br />
            <span><b>{{customerName}}</b></span><br />
            {{address}}<br />
            {{destination}}<br />
            <b>PIN: {{pincode}}</b>
            <b>Contact: {{customerPhone}}</b>
          </td>
          <td class="row-3">
            <b>
              {{paymentType}}<br />
              {{!-- {{productType}} --}}
            </b>
          </td>
        </tr>
        <tr class="row-5" scope="row">
          <td colspan="2">
            Seller: {{sellerName}} <br />
            Address: {{storeAddress}} <br />
            <b>Contact: {{returnPhone}}</b>
            {{!-- {{originCity}}<br />
            {{originState}} --}}
          </td>
          <td colspan="2" class="row-3-blank"></td>
        </tr>
        <tr class="row-6" scop="row">
          <td colspan="2">Product</td>
          <td class="text-center">Price</td>
          <td class="text-center">Total</td>
        </tr>
        <tr class="row-7" scop="row">
          <td colspan="2">{{product}}</td>
          <td class="text-center">₹{{rupee}}</td>
          <td class="text-center">₹{{rupee}}</td>
        </tr>
        <tr class="row-8" scop="row">
          <td colspan="2">Total</td>
          <td class="text-center">₹{{rupee}}</td>
          <td class="text-center">₹{{rupee}}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-center">
            <img
              src={{orderIdBarcode}}
              {{!-- height="100px"
              width="190px"
              alt="" --}}
            />
          </td>
        </tr>
        <tr class="row-9" scop="row">
          <td colspan="4">
            Return Address: {{returnAddress}}<br />
            {{!-- Ashram Rd, Ellisbridge, Ahmedabad --}}
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
